.img-container {
    padding-top: 1em;
}

.img-container .img-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.img-container img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.img-container span.dot {
    height: 15px;
    width: 15px;
    background-color: #1cdb1c;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 77px;
    right: 5px;
}
